@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes backInLeft {
  0% {
    opacity: 0;
    transform: translateX(-1000px) scaleX(3);
  }
  80% {
    transform: translateX(30px) scaleX(0.9);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scaleX(1);
  }
}

@keyframes backInDown {
  0% {
    opacity: 0;
    transform: translateY(-200px) scaleY(2);
  }
  80% {
    transform: translateY(80px) scaleY(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

.fade-in-down {
  animation: fadeInDown 1s ease;
}

.back-in-left {
  animation: backInLeft 1.5s ease;
}

.back-in-down {
  animation: backInDown 1.5s ease;
}
