@font-face {
  font-family: "Lufga";
  src: url("../fonts/LufgaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*========== Colors ==========*/
  --body-color: #fff;
  --black-color: #000;
  --white-color: #fff;
  --first-color: #110229;
  --first-color-light: #8f90a6;
  --text-color: #110229;
  --text-color-light: #585981;
  --blue-color: #1daeff;
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Lufga", sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.75rem;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
}

html {
  /* 10px */
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  padding: 1rem;
  margin: 0 auto;
}
