/* header */
.header {
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 0 !important;
}

.nav {
  width: 100%;
  position: relative;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
}

.nav-link {
  color: #110229;
  font-family: Lufga, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.6rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.login-link {
  background-color: #1daeff;
  border-radius: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 5rem;
  color: white;
}

.login-link:hover {
  opacity: 0.9;
}

.nav-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-mode-btn,
.nav-menu-btn {
  color: var(--first-color);
  font-size: 2.5rem;
  cursor: pointer;
}
.nav-menu-btn,
.nav__close {
  display: none;
}

/* hero-section */
.hero__section {
  background-image: url("../public/images/Homepage-Banner.png");
  background-size: cover;
  border-radius: 5rem;
  min-height: 60rem;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.hero__title {
  font-family: var(--body-font);
  color: var(--text-color);
  font-size: 5rem;
  width: 55%;
  font-style: normal;
}

.hero__subtitle {
  font-family: var(--body-font);
  color: var(--text-color-light);
  font-size: 2.2rem;
  width: 40%;
  line-height: 3.6rem;
}

.hero__tab-container {
  display: flex;
  flex-direction: column;
}
.hero__tab-btns {
  display: flex;
}
.hero__tab-btn {
  font-family: var(--body-font);
  color: var(--first-color-light);
  width: 10rem;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.6rem;
  padding: 0.01rem 0.01rem;
  border: none;
  text-transform: uppercase;
}

.hero__tab-active {
  background-color: white;
  border-radius: 1.5rem 1.5rem 0 0;
}

.hero__tab-content {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(1rem);
  border-radius: 0 20px 20px 20px;
  min-height: 10rem;
  display: grid;
  grid-template-columns: 2fr 2fr 1.5fr 1fr;
  max-width: 918px;
  gap: 1rem;
}

.hero__tab-content-box {
  border-right: 1px solid #dcdceb;
  padding: 2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__tab-content-box-last {
  border: none;
}

.hero__tab-content-header {
  font-family: var(--body-font);
  color: var(--text-color);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.6rem;
}

.hero__tab-content-sub {
  font-family: var(--body-font);
  color: var(--first-color-light);
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.hero__search-text {
  display: none;
}

.hero__icon {
  margin-left: -0.8rem;
}

/* country section */

.countries__section-title {
  font-family: var(--body-font);
  color: var(--text-color);
  text-align: center;
  font-size: 3.8rem;
  font-weight: 600;
  margin: 5rem 0;
}

.countries__section-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

.country__card {
  padding-top: 3rem;
  background-position: center;
  background-size: cover;
  min-height: 400px;
  border-radius: 30px;
  transition: all 1s ease;
  cursor: pointer;
}

.country__card:hover {
  transform: scale(0.9);
}

.country__card > p {
  font-family: var(--body-font);
  color: var(--text-color);
  text-align: center;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

/* recently added container */

.recently__added-section {
  margin-top: 5rem;
}

.recently__added-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.recently__added-text > h2 {
  font-family: var(--body-font);
  color: var(--text-color);
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.recently__added-text > a {
  font-family: var(--body-font);
  color: var(--blue-color);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.recently__added-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1rem;
}

.recently__added-card {
  border-radius: 30px;
  border: 2px solid #dcdceb;
  background: var(--white-color);
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  transition: all 0.7s ease;
}

.recently__added-card-body {
  margin-left: 2rem;
  padding-top: 0.5rem;
  height: 100%;
}

.recently__added-card-body > h2 {
  font-family: var(--body-font);
  color: var(--first-color);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.recently__added-card-body > p {
  color: var(--first-color-light);
  font-family: var(--body-font);
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.price__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}
.price__wrapper {
  color: var(--first-color-light);
  font-family: var(--body-font);
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.price__wrapper > button {
  border-radius: 10px;
  background: var(--first-color-light);
  border: none;
  width: 98px;
  height: 31px;
  flex-shrink: 0;
  color: white;
}

/* banner */
#banner {
  margin-top: 5rem;
}

/* footer */
.footer {
  display: grid;
  grid-template-areas: "main main tour about subscribe";
}

.footer__main {
  grid-area: main;
}

.footer__tour {
  grid-area: tour;
}

.footer__about {
  grid-area: about;
}

.footer__subscribe {
  grid-area: subscribe;
}

.footer > * {
  min-height: 1rem;
  padding: 1rem;
}

.social__icons {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer b {
  font-family: var(--body-font);
  color: var(--first-color);
  display: block;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.footer span {
  font-family: var(--body-font);
  color: var(--first-color);
  display: block;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
}

.footer__subscribe > p {
  font-family: var(--body-font);
  color: var(--first-color-light);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}

.email__wrapper {
  max-width: 300px;
  position: relative;
  margin-top: 2rem;
  border: 2px solid #d0d0e3;
  border-radius: 20px;
}
.email__wrapper input[type="email"] {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background: var(--white-color);
  padding: 1rem 1rem;
  border: none;
}

.email__wrapper > button {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: 1rem 2rem;
  border-radius: 19px;
  border: none;
}

.email__wrapper input[type="email"]::placeholder {
  font-family: var(--body-font);
  color: var(--first-color-light);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem;
}

/* responsivness */
@media screen and (max-width: 1200px) {
  .nav-links-container {
    width: 100%;
    height: 90vh;
    position: fixed;
    top: -100%;
    /* top: 0; */
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.75);
    backdrop-filter: blur(8px);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: top 0.4s;
  }

  .show__menu {
    top: 0;
  }

  .nav-link {
    color: var(--white-color);
    font-size: var(--h1-font-size);
    cursor: pointer;
  }

  .nav__close {
    display: block;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    color: var(--white-color);
    font-size: 3rem;
    cursor: pointer;
  }
  .nav-menu-btn {
    display: block;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .container {
    padding: 4rem;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  .container {
    padding: 3rem;
  }

  .hero__title,
  .hero__subtitle {
    width: 100%;
  }

  .hero__tab-content-box {
    padding: 1rem;
  }

  .hero__tab-content-header {
    font-size: 1.5rem;
  }
  .hero__tab-content-sub {
    font-size: 1rem;
    line-height: normal;
  }

  .countries__section-title {
    font-size: 2.5rem;
  }

  .recently__added-text > h2 {
    font-size: 2rem;
  }
  .recently__added-text > a {
    font-size: 2rem;
  }

  .footer {
    grid-template-areas: "main main tour about" "subscribe subscribe subscribe subscribe";
  }
}

@media (max-width: 576px) {
  .container {
    padding: 2rem;
  }

  /* hero */
  .hero__section {
    padding: 3rem;
    gap: 1rem;
    min-height: auto;
  }

  .hero__title {
    font-size: 2.2rem;
    width: 95%;
  }

  .hero__subtitle {
    font-size: 1.5rem;
    line-height: 22px;
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  .hero__tab-btn {
    width: 7rem;
  }

  .hero__tab-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .hero__tab-content-box {
    justify-content: flex-start;
    border-right: none;
    border-bottom: 1px solid #dcdceb;
    padding: 1rem 2rem;
  }

  .hero__tab-content-box:last-child {
    border-bottom: none;
  }

  .hero__tab-content-header {
    font-size: 1.4rem;
    line-height: normal;
    margin-bottom: 1rem;
  }

  .hero__tab-content-sub {
    line-height: normal;
  }

  .hero__search-btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-color);
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  .hero__search-text {
    color: var(--white-color);
    font-size: 1.5rem;
    display: inline;
  }

  .hero__search-btn > img {
    width: 35px;
  }

  /* countries */

  .countries__section-title {
    font-size: 2.5rem;
  }

  /* recently */
  .recently__added-text > h2 {
    font-size: 1.5rem;
  }
  .recently__added-text > a {
    font-size: 1.4rem;
  }

  /* banner */
  #banner {
    margin-top: 3rem;
  }

  /* footer */
  .footer {
    display: grid;
    grid-template-areas: "main" "tour" "about" "subscribe";
    gap: 1rem;
  }
}
